# Ignore node_modules directory
node_modules/

# Ignore logs
*.log

# Ignore .env file
.env

# Ignore built output
dist/
build/
out/
*.js.map

# Ignore npm debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
